
<div class="task-container">
    <div class="task_description">
        <h2 class="task_title">{{task.title}}</h2>
        <span class="task_deals">{{task.countOfDeals}}/{{task.people}} people already accepted</span>
        <p class="task_description">{{task.description}}</p>
        <div>Status: {{task.status}}</div>
        <div>Category: {{task.category.name}}</div>
        <div>User: {{ task.user.firstName + " " + task.user.lastName }}</div>
    </div>

    <div class="task_bottom">
        <div class="price-time-container">
            <div class="task_time">
                <div>Created: {{task.createdAt | date:'y/M/d'}}</div>
                <div>When: {{task.time | date:'y/M/d'}}</div>
            </div>
            <div class="task_price">{{task.cost}}$</div>
        </div>

        <button (click)="update()" mat-button class="task_accept">Update</button>
        <button (click)="delete()" mat-button class="task_accept">Delete</button>
    </div>
</div>