
<div class="task-container">
    <div class="task_description">
        <h2 class="task_title">{{task.title}}</h2>
        <span class="task_deals">{{task.countOfDeals}}/{{task.people}} people already accepted</span>
        <p class="task_description">{{task.description}}</p>
    </div>

    <div class="task_bottom">
        <div class="price-time-container">
            <div class="task_time">{{task.time}}</div>
            <div class="task_price">{{task.cost}}$</div>
        </div>

        <button (click)="accept()" mat-button class="task_accept">ACCEPT</button>
        
    </div>
</div>