<div class="all-tasks">
    <h1 class="tasks_title">All Tasks</h1>
    <app-search (searchChange)="search($event)"></app-search>
    <div class="all-task-container">
        <div class="tasks-container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
            (scrolled)="getUserTasks()" [scrollWindow]="false">
            <app-task-list (deleteTask)="deleteTask($event)" [tasks]="tasks"></app-task-list>
        </div>
        <div class="filter-bar-container">
            <h2 class="filter_title">FILTER BAR</h2>
            <div class="filter-bar">
                <mat-form-field class="filter_field">
                    <mat-select (selectionChange)="categoryChange()" placeholder="Category" [formControl]="categories" multiple>
                        <mat-option *ngFor="let category of categories" [value]="category.name">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>