  a {
    text-decoration:none;
    color: black;
  }

  a:visited {
    color: black;
  }

  .container_link {
    width: 200px;
    height: 40px;
  }

  .active > .container_link {
    border-bottom: 2px solid red;
  }

