<form (ngSubmit)="addTask()" [formGroup]="addTaskForm" class="add-task-form" action="">
    <mat-form-field class="title_field">
        <input matInput placeholder="Title*" [formControl]="addTaskForm.controls['title']" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addTaskForm.controls['title'].hasError('required')">
            This is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="description_field">
        <textarea class="description_textarea" matInput placeholder="Description*" [formControl]="addTaskForm.controls['description']"
            [errorStateMatcher]="matcher"></textarea>
        <mat-error *ngIf="addTaskForm.controls['description'].hasError('required')">
            This is required.
        </mat-error>
        <mat-error *ngIf="addTaskForm.controls['description'].hasError('max')">
            Too much people.
        </mat-error>
    </mat-form-field>

    <div class="fields-container">
        <mat-form-field class="peoples_field">
            <input matInput placeholder="People*" [formControl]="addTaskForm.controls['people']" [errorStateMatcher]="matcher">
            <mat-error *ngIf="addTaskForm.controls['people'].hasError('required')">
                This is required.
            </mat-error>
            <mat-error *ngIf="addTaskForm.controls['people'].hasError('max')">
                Too much people.
            </mat-error>
            <mat-error *ngIf="addTaskForm.controls['people'].hasError('min')">
                Run of people.
            </mat-error>
            <mat-error *ngIf="addTaskForm.controls['people'].hasError('pattern')">
                Must be integer number.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="category_field">
            <mat-select placeholder="Category*" [formControl]="addTaskForm.controls['category']" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="cost_field">
            <input matInput placeholder="Cost*" [formControl]="addTaskForm.controls['cost']" [errorStateMatcher]="matcher">
            <mat-error *ngIf="addTaskForm.controls['cost'].hasError('required')">
                This is required.
            </mat-error>
            <mat-error *ngIf="addTaskForm.controls['cost'].hasError('pattern')">
                Incorrect value.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="when_field">
            <input matInput readonly [min]="minWhen"  [owlDateTime]="dt" [owlDateTimeTrigger]="dt"  placeholder="When*" [formControl]="addTaskForm.controls['when']" [errorStateMatcher]="matcher">
            <owl-date-time [hour12Timer]="false"  #dt></owl-date-time>
            <mat-error *ngIf="addTaskForm.controls['when'].hasError('whenErr')">
                Date error.
            </mat-error>
        </mat-form-field>
    </div>


    <button type="submit" class="send-btn">SEND ON REVIEW</button>
</form>