.task-wrap-container{
    width: 30%;
    height: 80%;
    padding: 6px;
}

.wrap-container{
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 30px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #3f51b5;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f51b5;
}