<div class="categories-wrap-container">
    <h1 class="categories_title">Categories</h1>
    <div class="categories_main">
        <div class="categories-list">
            <div *ngFor="let category of categories" class="category">
                <div class="category_title">
                    <h2>{{ category.name }}</h2>
                </div>
                <span>({{ category.statistic ? category.statistic.open + "/" + category.statistic.count : "0/0" }})</span>
                <div *ngIf="!category.statistic?.open; else lock">
                    <mat-icon class="clear" (click)="delete(category.id)">clear</mat-icon>
                </div>

                <ng-template #lock>
                    <mat-icon>block</mat-icon>
                </ng-template>
            </div>
        </div>
        <form (submit)="save()" class="add-category" [formGroup]="categoryForm" action="" validate>
            <mat-form-field class="profile_field">
                <input matInput placeholder="New Category" [formControl]="categoryForm.controls['categoryName']">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Managers" [formControl]="categoryForm.controls['managers']" multiple>
                    <mat-option *ngFor="let manager of managers" [value]="manager.id">
                        {{ manager.firstName + " " + manager.lastName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="btns-container">
                <button class="btn" type="submit">Save</button>
                <button (click)="cancel()" class="btn" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>