<div class="my-tasks">
    <h1 class="tasks_title">My Tasks</h1>
    <app-search (searchChange)="search($event)"></app-search>
    <div class="my-task-container">
        <div class="tasks-container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
            (scrolled)="getUserTasks()" [scrollWindow]="false">
            <app-task-list (deleteTask)="deleteTask($event)" [tasks]="tasks"></app-task-list>
        </div>
        <div class="filter-bar-container">
            <h2 class="filter_title">FILTER BAR</h2>
            <div class="filter-bar">
                <form [formGroup]="filterForm" class="add-task-form">
                    <mat-form-field class="filter_field">
                        <mat-select (selectionChange)="filterChange()" placeholder="Status" [formControl]="filterForm.controls['status']">
                            <mat-option *ngFor="let status of statuses" [value]="status">
                                {{status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="filter_field">
                        <mat-select (selectionChange)="filterChange()" placeholder="Category" [formControl]="filterForm.controls['category']" multiple>
                            <mat-option *ngFor="let category of categories" [value]="category.name">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="filter_field">
                        <input (dateTimeChange)="filterChange()" #start matInput readonly [max]="maxDate" [owlDateTime]="ds"
                            [owlDateTimeTrigger]="ds" placeholder="Start" [formControl]="filterForm.controls['start']">
                        <owl-date-time (afterPickerClosed)="startDateChange()" [hour12Timer]="false" #ds></owl-date-time>
                    </mat-form-field>
                    <mat-form-field class="filter_field">
                        <input (dateTimeChange)="filterChange()" #end matInput readonly [min]="minDate" [owlDateTime]="de"
                            [owlDateTimeTrigger]="de" placeholder="End" [formControl]="filterForm.controls['end']">
                        <owl-date-time (afterPickerClosed)="endDateChange()" [hour12Timer]="false" #de></owl-date-time>
                    </mat-form-field>
                    <button class="reset-btn" type="button" (click)="reset()">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>