<form (submit)="save($event)" [formGroup]="userForm">
    <h2 class="profile_title">Profile</h2>

    <div class="profile_main">
        <mat-form-field class="profile_field">
            <input matInput placeholder="firstName*" [formControl]="userForm.controls['info'].controls['firstName']"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="userForm.controls['info'].controls['firstName'].hasError('required')">
                This is required.
            </mat-error>
            <mat-error *ngIf="userForm.controls['info'].controls['firstName'].hasError('maxlength')">
                This is too big length.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="profile_field">
            <input matInput placeholder="lastName*" [formControl]="userForm.controls['info'].controls['lastName']"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="userForm.controls['info'].controls['lastName'].hasError('required')">
                This is required.
            </mat-error>
            <mat-error *ngIf="userForm.controls['info'].controls['lastName'].hasError('maxlength')">
                This is too big length.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="profile_field">
            <input type="email" matInput placeholder="Email*" [formControl]="userForm.controls['info'].controls['email']"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="userForm.controls['info'].controls['email'].hasError('required')">
                This is required.
            </mat-error>
            <mat-error *ngIf="userForm.controls['info'].controls['email'].hasError('maxlength')">
                This is too big length.
            </mat-error>
            <mat-error *ngIf="userForm.controls['info'].controls['email'].hasError('email')">
                Must be email.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="profile_password-container">
        <button type="button" (click)="toggle()" class="form_btn">{{isPasswordOpen ? 'Hide' : 'Change Password'}}</button>

        <div *ngIf="isPasswordOpen" class="password_field-container">
            <mat-form-field class="profile_field">
                <input type="password" matInput placeholder="Old Password*" [formControl]="userForm.controls['passwords'].controls['oldPassword']"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="userForm.controls['passwords'].controls['oldPassword'].hasError('required')">
                    This is required.
                </mat-error>
                <mat-error *ngIf="userForm.controls['passwords'].controls['oldPassword'].hasError('maxlength')">
                    This is too big length.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="profile_field">
                <input type="password" matInput placeholder="New Password*" [formControl]="userForm.controls['passwords'].controls['newPassword']"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="userForm.controls['passwords'].controls['newPassword'].hasError('required')">
                    This is required.
                </mat-error>
                <mat-error *ngIf="userForm.controls['passwords'].controls['newPassword'].hasError('maxlength')">
                    This is too big length.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="profile_field">
                <input type="password" matInput placeholder="Confirm Password*" [formControl]="userForm.controls['passwords'].controls['repeat']"
                    [errorStateMatcher]="matcher">

                <mat-error *ngIf="userForm.controls['passwords'].controls['repeat'].hasError('required')">
                    This is required.
                </mat-error>
                <mat-error *ngIf="userForm.controls['passwords'].controls['repeat'].hasError('maxlength')">
                    This is too big length.
                </mat-error>
                <mat-error *ngIf="userForm.controls['passwords'].controls['repeat'].hasError('equalValue')">
                    Passwords don't match.
                </mat-error>
            </mat-form-field>

            <mat-error *ngIf="userForm.hasError('badRequest')">
                Incorrect password.
            </mat-error>

        </div>
    </div>

    <div class="profile_btn-container">
        <button type="submit" class="form_btn">Save</button>
        <button (click)="cancel()" type="button" class="form_btn">Cancel</button>
    </div>

</form>